html.dark,
.dark {
  --faded: hsl(250deg 50% 20% / 30%) !important;
  --shade-1: hsl(260deg 50% 6% / 80%) !important;
  --shade-2: hsl(260deg 50% 12% / 80%) !important;
  --shade-3: hsl(260deg 50% 26% / 80%) !important;
  --cww: #ccbbee;
  --cbb: #1a002a;
  --xfg: #6655ff;
  --xbg: #220033;
  --xgg: #220044;
  --xgo: hsl(280 90% 10% / 0.3);
  --zgg: hsl(260deg 50% 10%);
  --ygg: hsl(270deg 50% 10%);
  --cy1: #ff5599;
  --c09: #ff4488;
  --c01: #ee3377;
  --cc1: #ee2266;
  --cx1: #dd1155;
  --cz1: #dd0044;
  --cy2: #55ee77;
  --c10: #44dd66;
  --c02: #33cc55;
  --cc2: #22bb44;
  --cx2: #11aa33;
  --cz2: #009922;
  --cy3: #ccee44;
  --c11: #bbdd33;
  --c03: #aacc22;
  --cc3: #99bb11;
  --cx3: #88aa00;
  --cz3: #779900;
  --cy4: #4455ee;
  --c12: #4444dd;
  --c04: #4433cc;
  --cc4: #4422bb;
  --cx4: #4411aa;
  --cz4: #440099;
  --cy5: #6611ee;
  --c13: #6611dd;
  --c05: #6611cc;
  --cc5: #5500aa;
  --cx5: #550099;
  --cz5: #550088;
  --cy6: #55ffdd;
  --c14: #44eecc;
  --c06: #33ddbb;
  --cc6: #22ccaa;
  --cx6: #11bb99;
  --cz6: #00aa88;
  --cy7: #ccbbee;
  --c15: #bbaaee;
  --c07: #aa99ee;
  --cc7: #9988dd;
  --cx7: #8877dd;
  --cz7: #7766dd;
  --cy0: #441a88;
  --c08: #441a55;
  --c00: #331166;
  --cc0: #331144;
  --cx0: #220044;
  --cz0: #220033;
  --sbg: #dd1166;
  --sfg: #330066;
  --sk0: #1a002a;
  --sk1: #220033;
  --sk2: #331144;
  --sk3: #441a55;
  --sk4: #552266;
  --sk5: #662a77;
  --sk6: #773388;
  --sk7: #884499;
  --sk8: #aa55bb;
  --sk9: #bb66cc;
  --wbg: #4411bb;
  --wfg: #44ddff;
  --wk0: #110022;
  --wk1: #220044;
  --wk2: #331166;
  --wk3: #441a88;
  --wk4: #5522aa;
  --wk5: #6633bb;
  --wk6: #7744cc;
  --wk7: #8855dd;
  --wk8: #9955ee;
  --wk9: #aa55ff;
  --ebg: #229911;
  --efg: #002211;
  --ek0: #003322;
  --ek1: #114433;
  --ek2: #226644;
  --ek3: #339955;
  --ek4: #44aa66;
  --ek5: #55bb77;
  --ek6: #66cc88;
  --ek7: #77dd99;
  --ek8: #88eeaa;
  --ek9: #99ffaa;
  --zk0: #bb44aa;
  --zk1: #bb55bb;
  --zk2: #cc66cc;
  --zk3: #cc77dd;
  --zk4: #dd88dd;
  --zk5: #dd99ee;
  --zk6: #eeaaee;
  --zk7: #eebbff;
  --zk8: #ffccff;
  --zk9: #ffddff;
  --pk0: #ff4488;
  --pk1: #ee4499;
  --pk2: #dd44aa;
  --pk3: #cc44bb;
  --pk4: #bb44cc;
  --pk5: #aa44dd;
  --pk6: #9944ee;
  --pk7: #8844ff;
  --pk8: #7755ff;
  --pk9: #6655ff;
}
